{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load blog_tag %}
{% block content %}
    <section
      id="particles-js"
      class="blog-detail pattern gap"
      style="background-image: url(https://via.placeholder.com/1920x530)"
    >
      <div class="container">
        <div class="blog-detail-data gap no-bottom">
          <h2 data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">

                {{ posts.title }}

          </h2>
          <ul data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
            <li>
              <a class="magic-hover magic-hover__square" href="index.html"
                ><i class="fa-solid fa-house"></i>خانه</a
              >
            </li>
            <li>
              <a class="magic-hover magic-hover__square" href="#"
                ><span>/</span> وبلاگ</a
              >
            </li>
            <li>
              <a class="magic-hover magic-hover__square" href="#"
                ><span>/</span> پست وبلاگ 1</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="blog-details-one gap">
      <div class="container">
        <div
          class="blog-details-one-data"
          data-aos="fade-up"
          data-aos-delay="200"
          data-aos-duration="300"
        >
          <div class="img-data">
            <img alt="blog-img" src="{{ posts.image.url }}" />
            <div class="message-icon">
              <i class="fa-solid fa-message"></i><span>12</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-xl-1 col-lg-10">
            <div class="blog-details-one-data blog-two">
                {%for cat in posts.categories.all%}
              <span>دسته بندی1, دسته بندی 2</span>
                {% endfor %}

              <h3>{{ posts.title }}</h3>
              <div class="marker">
                <img alt="girl" src="https://via.placeholder.com/45x45" />
                <div>
                  <span>{{ posts.published_date|jformat:'%y/%m/%d' }}</span>
                  <h6>{{ posts.author.get_full_name }}</h6>
                </div>
              </div>
              <p
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-duration="400"
              >
               {{ posts.content }}
              </p>
              <div
                class="blog-quote"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >

              </div>


              <div class="row">
                <div
                  class="col-lg-8"
                  data-aos="fade-up"
                  data-aos-delay="200"
                  data-aos-duration="300"
                >
                  <div class="img-large hover06">
                    <figure>
                      <img
                        alt="blog-2"
                        src="https://via.placeholder.com/709x380"
                      />
                    </figure>
                  </div>
                </div>
                <div
                  class="col-lg-4"
                  data-aos="fade-up"
                  data-aos-delay="300"
                  data-aos-duration="400"
                >
                  <div class="img-large hover06">
                    <figure>
                      <img
                        alt="blog-2"
                        src="https://via.placeholder.com/343x380"
                      />
                    </figure>
                  </div>
                </div>
                <div
                  class="col-lg-12"
                  data-aos="fade-up"
                  data-aos-delay="200"
                  data-aos-duration="300"
                >
                  <div class="img-large hover06">
                    <img
                      alt="blog-img"
                      src="https://via.placeholder.com/1076x380"
                    />
                    <a
                      data-fancybox=""
                      href="https://www.youtube.com/watch?v=Vr3h5X9kmUo"
                      ><i class="fa-solid fa-play"></i
                    ></a>
                  </div>
                </div>
              </div>
              <p
                class="one"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                Tighten your grip, Tarkin, the more star systems will slip
                through your fingers.Still, got a lot of spirit what do you
                think? What!? I don’t know what you’re talking about. I am a
                member of the Imperidiplomatic mission to Alderaan good is a
                reward if you aint tas around to use it Besides, attackin
                station ain’t my idea of cou rage. It’s more like suicide.
              </p>
              <div class="row align-items-center blog-gap">
                <div
                  class="col-lg-8"
                  data-aos="fade-up"
                  data-aos-delay="200"
                  data-aos-duration="300"
                >
                  <p>
                    ipsum dolor sit amet soufflé. I love liquorice oat cake
                    biscuit tiramisu jelly danish Caramels its chorice sw eet
                    roll tart. Jelly fruitcake tart caramels marzipan. Brownie I
                    love chocolate that bar sesliquorice. I love to otsie roll
                    dragée bonbon croisnt. Chupa chups lo ream sesame snaps
                    jelly tiramiipsum dolor sit am et souffl liquorice oat cake
                    biscuit jesms tiramisu jelly dash Caramels chocolatsweet
                    roll tart. Jelly-o fruitc ake tart caramels marzipan.
                  </p>
                </div>
                <div
                  class="col-lg-4"
                  data-aos="fade-up"
                  data-aos-delay="300"
                  data-aos-duration="400"
                >
                  <img
                    class="two"
                    alt="blog-img"
                    src="https://via.placeholder.com/243x250"
                  />
                </div>
              </div>
              <p
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                you’re talking about. I am a member of the Imperidiplomatic
                mission to Alderaan good is a reward if you aint tas around to
                use it Besides, attackin station ain’t my idea of courage. It’s
                more like suicide.
              </p>
              <div
                class="posted"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <ul
                  class="tage"
                  data-aos="fade-up"
                  data-aos-delay="200"
                  data-aos-duration="300"
                >
                  <li><h4>Posted In :</h4></li>
                  <li>
                    <a class="magic-hover magic-hover__square" href="#"
                      >Graphic Designer</a
                    >
                  </li>
                  <li>
                    <a class="magic-hover magic-hover__square" href="#"
                      >Website Design</a
                    >
                  </li>
                </ul>
                <ul class="social-media-icon blog-two">
                  <li>
                    <a class="f" href="javascript:void(0)"
                      ><i class="fa-brands fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a class="in" href="javascript:void(0)"
                      ><i class="fa-brands fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a class="t" href="javascript:void(0)"
                      ><i class="fa-brands fa-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div
                class="post"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <div class="previews">
                  <h4>Whether you get knocked...</h4>
                  <a class="magic-hover magic-hover__square" href="#"
                    ><i class="fa-solid fa-angle-left"></i>Previews Post</a
                  >
                </div>
                <div class="previews next">
                  <h4>It’s whether you get up...</h4>
                  <a class="magic-hover magic-hover__square" href="#"
                    >next Post<i class="fa-solid fa-angle-right"></i
                  ></a>
                </div>
              </div>
              <div
                class="about-author"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <img alt="girl" src="https://via.placeholder.com/150x150" />
                <div>
                  <h3 class="two">About Author<span>Graphic Designer</span></h3>
                  <h6>
                    Lorem ipsum dolor sit amet, consectetur adipis Vivamus
                    sceler neque in Nam vitae urnasodales neque in faucibus.
                  </h6>
                </div>
              </div>
              <div
                class="comment"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <h2>02 Comments</h2>
                <ul>
                  <li class="one-comment">
                    <img alt="girl" src="https://via.placeholder.com/120x120" />
                    <div>
                      <a class="magic-hover magic-hover__square" href="#"
                        >REPLY</a
                      >
                      <h5>Nolwar Disoza<span>10 months ago</span></h5>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipis Vivamus
                        sceler neque in Nam vitae urnasodales neque in faucibus.
                      </p>
                    </div>
                  </li>
                  <li class="one-comment reply">
                    <img alt="girl" src="https://via.placeholder.com/120x120" />
                    <div>
                      <a class="magic-hover magic-hover__square" href="#"
                        >REPLY</a
                      >
                      <h5>Thomas Walkar<span>10 months ago</span></h5>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipis Vivamus
                        sceler neque in Nam vitae urnasodales neque in faucibus.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div
                class="leave"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <h2>Leave a Comment</h2>
                <form class="one">
                  <div class="row">
                    <div class="col-lg-4">
                      <input
                        type="text"
                        name="Email"
                        placeholder="Complete Name"
                      />
                    </div>
                    <div class="col-lg-4">
                      <input
                        type="text"
                        name="Phone"
                        placeholder="Email Address"
                      />
                    </div>
                    <div class="col-lg-4">
                      <input
                        type="text"
                        name="YourName"
                        placeholder="Phone No (Optional)"
                      />
                    </div>
                  </div>

                  <textarea placeholder="Your Comment"></textarea>
                  <button
                    class="magic-hover magic-hover__square button button--moema button--text-thick button--text-upper button--size-s"
                  >
                    Post Comment
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock content %}