{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load blog_tag %}
{% block content %}
    <section
      id="particles-js"
      class="blog-detail pattern gap"
      style="background-image: url(https://via.placeholder.com/1920x530)"
    >
      <div class="container">
        <div class="blog-detail-data gap no-bottom">
          <h2 data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
            وبلاگ
          </h2>
          <ul data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
            <li>
              <a class="magic-hover magic-hover__square" href="index.html"
                ><i class="fa-solid fa-house"></i>خانه</a
              >
            </li>
            <li>
              <a class="magic-hover magic-hover__square" href="#"
                ><span>/</span> وبلاگ</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="blog-details-one pattern gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            {% for post in posts %}



            <div class="blog-details-one-data our-blog">
              <div
                class="img-data"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <a href="{% url "single" pid=post.id %}" ><img alt="blog-img" src="{{ post.image.url }}" /></a>

              </div>
              <div
                class="marker"
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-duration="400"
              >
                <h6>{{ post.published_date|jformat:'%y/%m/%d' }}</h6>
                  <br>
                  {% for cat in post.category.all %}
                <a href="{% url 'category' cat_name=cat.name %}" ><h6>{{ cat.name }}</h6></a>{% if not forloop.last %} , {% endif %}
                      {% endfor %}
                <img alt="girl" src="https://via.placeholder.com/45x45" />
                  <a href="{% url 'author' author_username=post.author.username %}"><h6>{{ post.author.get_full_name }}</h6></a>
              </div>
              <h3>{{ post.title }}</h3>
              <p
                data-aos="fade-up"
                data-aos-delay="400"
                data-aos-duration="500"
              >
                {{ post.content |snippet:100}}
              </p>
              <a
                href="{% url "single" pid=post.id %}"
                class="magic-hover magic-hover__square button button--moema button--text-thick button--text-upper button--size-s"
                >اطلاعات بیشتر</a
              >

            </div>
                {% endfor %}
            <div class="blog-details-one-data our-blog">
              <div
                class="img-data"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >

              </div>
              <div
                class="marker"
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-duration="400"
              >
              </div>
            </div>
            <div class="pagination">
              <ul>
                <li class="prev">
                            {% if posts.has_previous %}
                  <a href="?page={{ posts.previous_page_number }}"> prev</a>
                            {% endif %}

                </li>
                          {% for i in posts.paginator.page_range %}
                              {% if posts.number == i %}
                <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                                  {% else %}
                                  <li ><a href="?page={{ i }}">{{ i }}</a></li>

                          {% endif %}
              {% endfor %}
                <li class="prev">
                            {% if posts.has_next %}

                  <a href="?page={{ posts.next_page_number }}">next</a>
                            {% endif %}

                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
                {% latest 4%}
                {% postcategories %}
            <ul
              class="recent-news meta-links"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="300"
            >
              <li class="style"><h4>Meta Links</h4></li>
              <li>
                <div>
                  <a class="magic-hover magic-hover__square" href="#"
                    ><i class="fa-solid fa-caret-right"></i>Log in</a
                  >
                  <a class="magic-hover magic-hover__square" href="#"
                    ><i class="fa-solid fa-caret-right"></i> Entries RSS</a
                  >
                  <a class="magic-hover magic-hover__square" href="#"
                    ><i class="fa-solid fa-caret-right"></i> Comments RSS</a
                  >
                  <a class="magic-hover magic-hover__square" href="#"
                    ><i class="fa-solid fa-caret-right"></i> WordPress.org</a
                  >
                </div>
              </li>
            </ul>
            <ul
              class="recent-news gallery-photos"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="300"
            >
              <li class="style-two"><h4>گالری</h4></li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
            </ul>
            <div
              class="recent-news subscribe"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="300"
            >
              <h4>اخبار جدید را دنبال کنید</h4>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است.
              </p>
              <form class="blog">
                <input
                  type="text"
                  name="email"
                  placeholder="ایمیل خود را وارد کنید..."
                />
                <button
                  class="magic-hover magic-hover__square button load button--moema button--text-thick button--text-upper button--size-s"
                >
                  دنبال کردن
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}