{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section
      id="particles-js"
      class="blog-detail pattern gap"
      style="background-image: url(https://via.placeholder.com/1920x530)"
    >
      <div class="container">
        <div class="blog-detail-data gap no-bottom">
          <h2 data-aos="fade-up" data-aos-delay="200" data-aos-duration="300">
            وبلاگ
          </h2>
          <ul data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
            <li>
              <a class="magic-hover magic-hover__square" href="index.html"
                ><i class="fa-solid fa-house"></i>خانه</a
              >
            </li>
            <li>
              <a class="magic-hover magic-hover__square" href="#"
                ><span>/</span> وبلاگ</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="blog-details-one pattern gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="blog-details-one-data our-blog">
              <div
                class="img-data"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <img alt="blog-img" src="https://via.placeholder.com/856x482" />
                <div class="message-icon">
                  <i class="fa-solid fa-message"></i><span>12</span>
                </div>
              </div>
              <div
                class="marker"
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-duration="400"
              >
                <h6>29 مرداد 1400</h6>
                <img alt="girl" src="https://via.placeholder.com/45x45" />
                <h6>Willimes Marker</h6>
              </div>
              <h3>لورم ایپسوم متن ساختگی</h3>
              <p
                data-aos="fade-up"
                data-aos-delay="400"
                data-aos-duration="500"
              >
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
                زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و
                دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>
              <a
                href="#"
                class="magic-hover magic-hover__square button button--moema button--text-thick button--text-upper button--size-s"
                >اطلاعات بیشتر</a
              >
            </div>
            <div class="blog-details-one-data our-blog">
              <div
                class="img-data"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <img alt="blog-img" src="https://via.placeholder.com/856x482" />
                <div class="message-icon">
                  <i class="fa-solid fa-message"></i><span>12</span>
                </div>
              </div>
              <div
                class="marker"
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-duration="400"
              >
                <h6>29 مرداد 1400</h6>
                <img alt="girl" src="https://via.placeholder.com/45x45" />
                <h6>Willimes Marker</h6>
              </div>
              <h3>لورم ایپسوم متن ساختگی</h3>
              <p
                data-aos="fade-up"
                data-aos-delay="400"
                data-aos-duration="500"
              >
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
                زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و
                دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>
              <a
                href="#"
                class="magic-hover magic-hover__square button button--moema button--text-thick button--text-upper button--size-s"
                >اطلاعات بیشتر</a
              >
            </div>
            <div class="blog-details-one-data our-blog">
              <div
                class="img-data"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <img alt="blog-img" src="https://via.placeholder.com/856x482" />
                <div class="message-icon">
                  <i class="fa-solid fa-message"></i><span>12</span>
                </div>
              </div>
              <div
                class="marker"
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-duration="400"
              >
                <h6>29 مرداد 1400</h6>
                <img alt="girl" src="https://via.placeholder.com/45x45" />
                <h6>Willimes Marker</h6>
              </div>
              <h3>لورم ایپسوم متن ساختگی</h3>
              <p
                data-aos="fade-up"
                data-aos-delay="400"
                data-aos-duration="500"
              >
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
                زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و
                دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>
              <a
                href="#"
                class="magic-hover magic-hover__square button button--moema button--text-thick button--text-upper button--size-s"
                >اطلاعات بیشتر</a
              >
            </div>
            <div class="blog-details-one-data our-blog">
              <div
                class="img-data"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <img alt="blog-img" src="https://via.placeholder.com/856x482" />
                <div class="message-icon">
                  <i class="fa-solid fa-message"></i><span>12</span>
                </div>
              </div>
              <div
                class="marker"
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-duration="400"
              >
                <h6>29 مرداد 1400</h6>
                <img alt="girl" src="https://via.placeholder.com/45x45" />
                <h6>Willimes Marker</h6>
              </div>
              <h3>لورم ایپسوم متن ساختگی</h3>
              <p
                data-aos="fade-up"
                data-aos-delay="400"
                data-aos-duration="500"
              >
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
                زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و
                دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>
              <a
                href="#"
                class="magic-hover magic-hover__square button button--moema button--text-thick button--text-upper button--size-s"
                >اطلاعات بیشتر</a
              >
            </div>
            <div class="blog-details-one-data our-blog">
              <div
                class="img-data"
                data-aos="fade-up"
                data-aos-delay="200"
                data-aos-duration="300"
              >
                <img alt="blog-img" src="https://via.placeholder.com/856x482" />
                <div class="message-icon">
                  <i class="fa-solid fa-message"></i><span>12</span>
                </div>
              </div>
              <div
                class="marker"
                data-aos="fade-up"
                data-aos-delay="300"
                data-aos-duration="400"
              >
                <h6>29 مرداد 1400</h6>
                <img alt="girl" src="https://via.placeholder.com/45x45" />
                <h6>Willimes Marker</h6>
              </div>
              <h3>لورم ایپسوم متن ساختگی</h3>
              <p
                data-aos="fade-up"
                data-aos-delay="400"
                data-aos-duration="500"
              >
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
                در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را
                برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در
                زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و
                دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد
                وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات
                پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>
              <a
                href="#"
                class="magic-hover magic-hover__square button button--moema button--text-thick button--text-upper button--size-s"
                >اطلاعات بیشتر</a
              >
            </div>
            <div class="pagination">
              <ul>
                <li class="prev">
                  <a href="javascript:void(0)"> prev</a>
                </li>
                <li><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li><a href="javascript:void(0)">...</a></li>
                <li class="non"><a href="javascript:void(0)">16</a></li>
                <li class="prev">
                  <a href="javascript:void(0)">next</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <ul
              class="recent-news"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="300"
            >
              <li><h4>جدید ترین ها</h4></li>
              <li class="recent-news-data">
                <img alt="img" src="https://via.placeholder.com/80x80" />
                <div class="recent-data">
                  <h6>20 مرداد 1400</h6>
                  <a class="magic-hover magic-hover__square" href="#"
                    >لورم ایپسوم متن ساختگی Mark Seliger</a
                  >
                </div>
              </li>
              <li class="recent-news-data">
                <img alt="img" src="https://via.placeholder.com/80x80" />
                <div class="recent-data">
                  <h6>20 مرداد 1400</h6>
                  <a class="magic-hover magic-hover__square" href="#"
                    >لورم ایپسوم متن ساختگی Mark Seliger</a
                  >
                </div>
              </li>
              <li class="recent-news-data">
                <img alt="img" src="https://via.placeholder.com/80x80" />
                <div class="recent-data">
                  <h6>20 مرداد 1400</h6>
                  <a class="magic-hover magic-hover__square" href="#"
                    >لورم ایپسوم متن ساختگی Mark Seliger</a
                  >
                </div>
              </li>
              <li class="recent-news-data">
                <img alt="img" src="https://via.placeholder.com/80x80" />
                <div class="recent-data">
                  <h6>20 مرداد 1400</h6>
                  <a class="magic-hover magic-hover__square" href="#"
                    >لورم ایپسوم متن ساختگی Mark Seliger</a
                  >
                </div>
              </li>
            </ul>
            <ul
              class="recent-news categories"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="300"
            >
              <li class="style"><h4>دسته بندی ها</h4></li>
              <li>
                <a class="magic-hover magic-hover__square" href="#"
                  >لورم ایپسوم متن ساختگی <span>10</span></a
                >
              </li>
              <li>
                <a class="magic-hover magic-hover__square" href="#"
                  >لورم ایپسوم متن ساختگی <span>10</span></a
                >
              </li>
              <li>
                <a class="magic-hover magic-hover__square" href="#"
                  >لورم ایپسوم متن ساختگی <span>10</span></a
                >
              </li>
              <li>
                <a class="magic-hover magic-hover__square" href="#"
                  >لورم ایپسوم متن ساختگی <span>10</span></a
                >
              </li>
              <li>
                <a class="magic-hover magic-hover__square" href="#"
                  >لورم ایپسوم متن ساختگی <span>10</span></a
                >
              </li>
            </ul>
            <ul
              class="recent-news meta-links"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="300"
            >
              <li class="style"><h4>Meta Links</h4></li>
              <li>
                <div>
                  <a class="magic-hover magic-hover__square" href="#"
                    ><i class="fa-solid fa-caret-right"></i>Log in</a
                  >
                  <a class="magic-hover magic-hover__square" href="#"
                    ><i class="fa-solid fa-caret-right"></i> Entries RSS</a
                  >
                  <a class="magic-hover magic-hover__square" href="#"
                    ><i class="fa-solid fa-caret-right"></i> Comments RSS</a
                  >
                  <a class="magic-hover magic-hover__square" href="#"
                    ><i class="fa-solid fa-caret-right"></i> WordPress.org</a
                  >
                </div>
              </li>
            </ul>
            <ul
              class="recent-news gallery-photos"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="300"
            >
              <li class="style-two"><h4>گالری</h4></li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
              <li>
                <a
                  class="magic-hover magic-hover__square"
                  href="https://via.placeholder.com/150x150"
                  data-fancybox="gallery"
                  ><img alt="girl" src="https://via.placeholder.com/150x150"
                /></a>
              </li>
            </ul>
            <div
              class="recent-news subscribe"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="300"
            >
              <h4>اخبار جدید را دنبال کنید</h4>
              <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است.
              </p>
              <form class="blog">
                <input
                  type="text"
                  name="email"
                  placeholder="ایمیل خود را وارد کنید..."
                />
                <button
                  class="magic-hover magic-hover__square button load button--moema button--text-thick button--text-upper button--size-s"
                >
                  دنبال کردن
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}